# shared variables
PUBLIC_ETHSCAN=
PUBLIC_ENVIRONMENT=
PUBLIC_LOTTERY_ADDRESS=
PUBLIC_LOTTERY_STRATEGY_ADDRESS=
PUBLIC_CORE_ADDRESS=
PUBLIC_PARTNER_ADDRESS=

# environment variables
PUBLIC_CONTEXT_URL=
PUBLIC_LOTTERY_GRAPH_URL=
BUN_AUTH_TOKEN=
PUBLIC_THYME_TOKEN=
