# shared variables
PUBLIC_TOKEN_ADDRESS=
PUBLIC_LOTTERY_ADDRESS=
PUBLIC_PARTNER_ADDRESS=
PUBLIC_MULTIBET_ADDRESS=
PUBLIC_CLAIMER_ADDRESS=
PUBLIC_ETHSCAN=
PUBLIC_DYNAMIC_STAKING_ADDRESS=

# environment variables
PUBLIC_ENVIRONMENT=
PUBLIC_APP_URL=
PUBLIC_LOTTERY_GRAPH_URL=
PUBLIC_CONTEXT_URL=