@import "@betfinio/components/globals.css";
@import "tailwindcss";
@import "tw-animate-css";

@config "../tailwind.config.ts";

@theme inline {
	--color-gold: var(--gold);
	--color-silver: var(--silver);
	--color-bronze: var(--bronze);
	--color-aura: var(--aura);
	--color-success: var(--success);
	--color-destructive: var(--destructive);
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@layer utilities {
	* {
		user-select: none;
		touch-action: manipulation;
		font-family: "Quicksand", sans-serif;
	}
}

@layer base {
	:root {
		--gold: hsl(45 89% 52%);
		--silver: hsl(0, 0%, 86%);
		--bronze: hsl(33, 57%, 56%);
		--aura: hsl(48, 100%, 89%);
	}
}

.shiny-gold {
	background: linear-gradient(180deg, #c6a152 0%, #c8a354 26.5%, #e1c97d 52%, #b79046 76.5%, #d6b968 100%);
}

.regular-number {
	color: hsla(228, 11%, 47%, 0.3);
	stroke: hsla(228, 11%, 47%, 1);
}
.stroke-success {
	stroke: var(--success) !important;
}
.stroke-destructive {
	stroke: var(--destructive) !important;
}
.stroke-primary {
	stroke: var(--primary) !important;
}

.symbol-number {
	stroke: hsla(33, 67%, 48%, 1);
	color: hsla(33, 67%, 48%, 0.3);
}

.create-shadow {
	box-shadow: 0 0 40px -10px #c6a152;
}
